@import './variables.css';

.interests-section {
  background-color: var(--color1);
}

.interests {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.interest {
  padding-top: 20px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color2);
}
.interest .icon {
  padding-bottom: 5px;
  width: 68px;
}

@media screen and (max-width: 799px) {
  .interests {
    width: 400px;
  }

  .interest {
    flex: 1 1 140px;
    padding-right: 0;
  }
}
